In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
pd.set_option('display.max_columns', None)
import statsmodels.api as sm

# Load data

In [2]:
df = pd.read_csv('/Users/irenewalken/Documents/GitHub/Ironhack_Labs/Data_Marketing_Customer_Analysis_Round3_encoded.csv.csv')
df = df.drop(labels='Unnamed: 0', axis=1)

df

,education,coverage,renew_offer_type,region_east,region_north west,region_west region,response_yes,month_jan,employment_status_employed,employment_status_medical leave,employment_status_retired,employment_status_unemployed,gender_m,location_code_suburban,location_code_urban,marital_status_married,marital_status_single,policy_type_personal auto,policy_type_special auto,policy_corporate l2,policy_corporate l3,policy_personal l1,policy_personal l2,policy_personal l3,policy_special l1,policy_special l2,policy_special l3,sales_channel_branch,sales_channel_call center,sales_channel_web,vehicle_class_luxury car,vehicle_class_luxury suv,vehicle_class_sports car,vehicle_class_suv,vehicle_class_two-door car,vehicle_size_medsize,vehicle_size_small,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount
0,2,1,3,0,0,0,0,0,1,0,0,0,1,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,4809,48029,61,7,52,0,9,292
1,2,1,4,0,0,1,0,1,0,0,0,1,0,1,0,0,1,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,2228,92260,64,3,26,0,1,744
2,3,1,3,1,0,0,0,0,1,0,0,0,1,1,0,0,1,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,1,0,14947,22139,100,34,31,0,2,480
3,2,2,2,0,1,0,1,1,1,0,0,0,1,1,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,22332,49078,97,10,3,0,2,484
4,3,3,1,0,1,0,0,1,0,1,0,0,0,1,0,1,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,9025,23675,117,33,31,0,7,707
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10684,3,3,3,0,0,0,0,1,0,0,0,1,0,1,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,1,1,0,0,0,0,1,0,15563,61541,253,12,40,0,7,1214
10685,2,1,2,0,1,0,0,1,1,0,0,0,0,0,1,1,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,5259,61146,65,7,68,0,6,273
10686,3,2,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,1,0,23893,39837,201,11,63,0,2,381
10687,2,3,1,0,0,1,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0,11971,64195,158,0,27,4,6,618
10688,3,1,4,0,0,0,0,1,0,0,0,1,1,1,0,0,1,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,1,0,6857,68942,101,31,1,0,3,1021

# Defining X, y

In [3]:
X = df.drop(columns=['total_claim_amount'], axis = 1)
y = df['total_claim_amount']

# Data splitting

In [4]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

X_train = pd.DataFrame(X_train, columns=X.columns)
X_test  = pd.DataFrame(X_test, columns=X.columns)

In [5]:
X_train.describe()

,education,coverage,renew_offer_type,region_east,region_north west,region_west region,response_yes,month_jan,employment_status_employed,employment_status_medical leave,employment_status_retired,employment_status_unemployed,gender_m,location_code_suburban,location_code_urban,marital_status_married,marital_status_single,policy_type_personal auto,policy_type_special auto,policy_corporate l2,policy_corporate l3,policy_personal l1,policy_personal l2,policy_personal l3,policy_special l1,policy_special l2,policy_special l3,sales_channel_branch,sales_channel_call center,sales_channel_web,vehicle_class_luxury car,vehicle_class_luxury suv,vehicle_class_sports car,vehicle_class_suv,vehicle_class_two-door car,vehicle_size_medsize,vehicle_size_small,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies
count,8551.000000,8551.000000,8551.000000,8551.000000,8551.000000,8551.000000,8551.000000,8551.000000,8551.000000,8551.000000,8551.000000,8551.000000,8551.000000,8551.000000,8551.000000,8551.000000,8551.000000,8551.000000,8551.000000,8551.000000,8551.000000,8551.000000,8551.000000,8551.000000,8551.000000,8551.000000,8551.000000,8551.000000,8551.000000,8551.000000,8551.000000,8551.000000,8551.000000,8551.000000,8551.000000,8551.000000,8551.000000,8551.000000,8551.000000,8551.000000,8551.00000,8551.000000,8551.000000,8551.000000
mean,2.290960,1.477254,1.976728,0.085253,0.281721,0.348380,0.127003,0.534090,0.627529,0.044790,0.027482,0.256227,0.490001,0.626710,0.173313,0.580751,0.273301,0.738978,0.040697,0.065022,0.114373,0.137177,0.229915,0.371886,0.007134,0.017425,0.016138,0.275289,0.198690,0.151093,0.019062,0.020816,0.053912,0.195650,0.206058,0.707637,0.189218,7994.902701,51817.509063,93.295287,15.13554,48.192960,0.375395,2.983511
std,1.077906,0.654210,1.010493,0.279274,0.449865,0.476485,0.332995,0.498866,0.483491,0.206855,0.163493,0.436574,0.499929,0.483706,0.378540,0.493465,0.445680,0.439218,0.197599,0.246578,0.318282,0.344054,0.420802,0.483337,0.084164,0.130856,0.126015,0.446686,0.399038,0.358161,0.136751,0.142777,0.225857,0.396723,0.404496,0.454875,0.391704,6848.846659,24717.379264,34.575537,10.13316,27.849503,0.899706,2.398456
min,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1898.000000,10074.000000,61.000000,0.00000,0.000000,0.000000,1.000000
25%,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4020.500000,29435.000000,68.000000,6.00000,25.000000,0.000000,1.000000
50%,2.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,5764.000000,50446.000000,83.000000,14.00000,48.000000,0.000000,2.000000
75%,3.000000,2.000000,3.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,8964.000000,72194.500000,109.000000,23.00000,71.000000,0.000000,4.000000
max,5.000000,3.000000,4.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,74228.000000,99981.000000,298.000000,35.00000,99.000000,5.000000,9.000000

# Variance threshold method

**Univariate method**

In [6]:
from sklearn.feature_selection import VarianceThreshold # It only works with numerical features


X_train = X_train.select_dtypes(include=np.number)
X_test  = X_test.select_dtypes(include=np.number)

#display(X_train)
print("Initial number of numerical columns: ",X_train.shape)
print()


selector = VarianceThreshold(threshold=100) # Default threshold value is 0
# Features with a training-set variance lower than this threshold will be removed.
selector.fit(X_train)

kept_features_indexes = selector.get_support(indices = True) #returns an array of integers corresponding to nonremoved features
kept_features = list(X_train.iloc[:,kept_features_indexes].columns)

X_train = selector.transform(X_train)
X_test  = selector.transform(X_test)

X_train = pd.DataFrame(X_train, columns=kept_features)
X_test  = pd.DataFrame(X_test, columns=kept_features)

print("Final number of numerical columns: ",X_train.shape)
print()
X_train

Initial number of numerical columns:  (8551, 44)

Final number of numerical columns:  (8551, 5)

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception
0,21423,22379,65,9,31
1,8391,40211,106,5,98
2,3969,49544,101,3,29
3,14914,45963,63,3,73
4,18060,57882,115,1,61
...,...,...,...,...,...
8546,7610,98701,94,22,66
8547,35186,86134,98,17,78
8548,4241,19834,64,26,8
8549,12941,77060,106,23,90
8550,6947,63406,100,5,54

# Correlation matrix

**Univariate method**

In [7]:
import seaborn as sns
import matplotlib.pyplot as plt

c = abs(df.corr())

c_last = c['total_claim_amount'].sort_values(ascending=False)

c_thr = .3
cols_to_keep = list(c_last[c_last > c_thr].index)[1:] + [list(c_last[c_last > c_thr].index)[0]]
print(cols_to_keep)

df[cols_to_keep]

['monthly_premium_auto', 'location_code_suburban', 'employment_status_employed', 'employment_status_unemployed', 'vehicle_class_luxury car', 'vehicle_class_luxury suv', 'total_claim_amount']

,monthly_premium_auto,location_code_suburban,employment_status_employed,employment_status_unemployed,vehicle_class_luxury car,vehicle_class_luxury suv,total_claim_amount
0,61,1,1,0,0,0,292
1,64,1,0,1,0,0,744
2,100,1,1,0,0,0,480
3,97,1,1,0,0,0,484
4,117,1,0,0,0,0,707
...,...,...,...,...,...,...,...
10684,253,1,0,1,1,0,1214
10685,65,0,1,0,0,0,273
10686,201,0,1,0,0,1,381
10687,158,0,1,0,0,0,618
10688,101,1,0,1,0,0,1021

# Recursive feature elimination

In [8]:
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE  ## recursive feature elemination technique

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

X_train = X_train.select_dtypes(include=np.number)
X_test  = X_test.select_dtypes(include=np.number)

X_train = pd.DataFrame(X_train, columns=X.columns)
X_test  = pd.DataFrame(X_test, columns=X.columns)

#X_train.isna().sum()
nulls = pd.DataFrame(X_train.isna().sum()).reset_index()
#nulls.head()
nulls.columns = ['Column','nas']
#nulls.head()
#nulls[nulls['nas'] > 0].head()
cols_to_drop = nulls[nulls['nas'] > 0]['Column'] # Too drastic, but made on pourpose for quick filtering (don't do this in production!!)

X_train.drop(columns=cols_to_drop, axis=1, inplace = True)
X_test.drop(columns=cols_to_drop, axis=1, inplace = True)

#display(X_train)

lm = LinearRegression()

selector = RFE(lm, n_features_to_select= 8, step = 1, verbose = 1) # Step is how many features to add or drop everytime
selector.fit(X_train, y_train)

kept_features = selector.get_support(indices = True) #returns an array of integers corresponding to nonremoved features
kept_features = list(X_train.iloc[:,kept_features].columns)

X_train = selector.transform(X_train)
X_test  = selector.transform(X_test)

X_train = pd.DataFrame(X_train, columns=kept_features)
X_test  = pd.DataFrame(X_test, columns=kept_features)

print("Final selected features: ")
display(X_train)

Fitting estimator with 44 features.
Fitting estimator with 43 features.
Fitting estimator with 42 features.
Fitting estimator with 41 features.
Fitting estimator with 40 features.
Fitting estimator with 39 features.
Fitting estimator with 38 features.
Fitting estimator with 37 features.
Fitting estimator with 36 features.
Fitting estimator with 35 features.
Fitting estimator with 34 features.
Fitting estimator with 33 features.
Fitting estimator with 32 features.
Fitting estimator with 31 features.
Fitting estimator with 30 features.
Fitting estimator with 29 features.
Fitting estimator with 28 features.
Fitting estimator with 27 features.
Fitting estimator with 26 features.
Fitting estimator with 25 features.
Fitting estimator with 24 features.
Fitting estimator with 23 features.
Fitting estimator with 22 features.
Fitting estimator with 21 features.
Fitting estimator with 20 features.
Fitting estimator with 19 features.
Fitting estimator with 18 features.
Fitting estimator with 17 features.
Fitting estimator with 16 features.
Fitting estimator with 15 features.
Fitting estimator with 14 features.
Fitting estimator with 13 features.
Fitting estimator with 12 features.
Fitting estimator with 11 features.
Fitting estimator with 10 features.
Fitting estimator with 9 features.
Final selected features:

,coverage,employment_status_unemployed,location_code_suburban,location_code_urban,marital_status_single,vehicle_class_luxury suv,vehicle_class_sports car,vehicle_class_suv
0,1,1,1,0,0,0,0,0
1,3,0,1,0,0,0,0,0
2,1,0,0,0,1,0,0,1
3,1,0,1,0,0,0,0,0
4,1,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...
8546,2,0,0,0,0,0,0,0
8547,2,0,0,0,0,0,0,0
8548,1,0,1,0,0,0,0,0
8549,1,0,0,1,0,0,0,1
8550,1,1,1,0,1,0,0,1

## Embedded Methods

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

X_train = X_train.select_dtypes(include=np.number)
X_test  = X_test.select_dtypes(include=np.number)

In [10]:
import numpy as np
from sklearn.impute import SimpleImputer
imp_mean = SimpleImputer(missing_values=np.nan, strategy='mean')
X_train=imp_mean.fit_transform(X_train)

In [11]:
X_train

array([[ 2.,  2.,  2., ..., 90.,  1.,  2.],
       [ 1.,  3.,  2., ..., 34.,  0.,  1.],
       [ 3.,  1.,  1., ..., 96.,  0.,  1.],
       ...,
       [ 4.,  1.,  1., ...,  8.,  4.,  8.],
       [ 1.,  1.,  1., ..., 90.,  0.,  2.],
       [ 3.,  1.,  2., ..., 54.,  0.,  7.]])

## OLS

In [12]:
X_train

array([[ 2.,  2.,  2., ..., 90.,  1.,  2.],
       [ 1.,  3.,  2., ..., 34.,  0.,  1.],
       [ 3.,  1.,  1., ..., 96.,  0.,  1.],
       ...,
       [ 4.,  1.,  1., ...,  8.,  4.,  8.],
       [ 1.,  1.,  1., ..., 90.,  0.,  2.],
       [ 3.,  1.,  2., ..., 54.,  0.,  7.]])

In [13]:
model=LinearRegression()
model.fit(X_train, y_train)
print(f"{model.__class__.__name__}: Train -> {model.score(X_train, y_train)}, Test -> {model.score(X_test, y_test)}")

LinearRegression: Train -> 0.7646533598458293, Test -> 0.7829046971137966

## Lasso model

In [14]:
from sklearn.linear_model import Lasso,Ridge,ElasticNet, LinearRegression
model=Lasso(alpha=0.05)

model.fit(X_train, y_train)
print(f"{model.__class__.__name__}: Train -> {model.score(X_train, y_train)}, Test -> {model.score(X_test, y_test)}")

Lasso: Train -> 0.76463218444929, Test -> 0.782939640838438

## Ridge

In [15]:
model=Ridge(alpha=10000)
model.fit(X_train, y_train)
print(f"{model.__class__.__name__}: Train -> {model.score(X_train, y_train)}, Test -> {model.score(X_test, y_test)}")

Ridge: Train -> 0.534218385320815, Test -> 0.5461226557914858

## ElasticNet

In [16]:
model=ElasticNet(alpha=0.1)
model.fit(X_train, y_train)
print(f"{model.__class__.__name__}: Train -> {model.score(X_train, y_train)}, Test -> {model.score(X_test, y_test)}")

ElasticNet: Train -> 0.7381604273328849, Test -> 0.7575538827696038

# Function that takes a list of models

In [17]:
def models():
    from sklearn.linear_model import Lasso,Ridge,ElasticNet, LinearRegression
    

    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)
    
    model_linear=LinearRegression()
    model_linear.fit(X_train, y_train)
    print(f"{model_linear.__class__.__name__}: Train -> {model_linear.score(X_train, y_train)}, Test -> {model_linear.score(X_test, y_test)}")
    
    
    model_lasso=Lasso(alpha=0.05)
    model_lasso.fit(X_train, y_train)
    print(f"{model_lasso.__class__.__name__}: Train -> {model_lasso.score(X_train, y_train)}, Test -> {model_lasso.score(X_test, y_test)}")
    
    model_ridge=Ridge(alpha=10000)
    model_ridge.fit(X_train, y_train)
    print(f"{model_ridge.__class__.__name__}: Train -> {model_ridge.score(X_train, y_train)}, Test -> {model_ridge.score(X_test, y_test)}")
    
    model_elastic=ElasticNet(alpha=0.1)
    model_elastic.fit(X_train, y_train)
    print(f"{model_elastic.__class__.__name__}: Train -> {model_elastic.score(X_train, y_train)}, Test -> {model_elastic.score(X_test, y_test)}")
    #return(model_linear.score(X_train, y_train),model_linear.score(X_test, y_test),model_lasso.score(X_train, y_train), model_lasso.score(X_test, y_test),model_ridge.score(X_train, y_train),model_ridge.score(X_test, y_test),model_elastic.score(X_train, y_train),model_elastic.score(X_test, y_test))

In [18]:
models()

LinearRegression: Train -> 0.7646533598458293, Test -> 0.7829046971137966
Lasso: Train -> 0.76463218444929, Test -> 0.782939640838438
Ridge: Train -> 0.5342183853208149, Test -> 0.5461226557914858
ElasticNet: Train -> 0.7381604273328849, Test -> 0.7575538827696038

# Fitting OLS model

In [19]:
X_added_constant = sm.add_constant(X)
X_added_constant

,const,education,coverage,renew_offer_type,region_east,region_north west,region_west region,response_yes,month_jan,employment_status_employed,employment_status_medical leave,employment_status_retired,employment_status_unemployed,gender_m,location_code_suburban,location_code_urban,marital_status_married,marital_status_single,policy_type_personal auto,policy_type_special auto,policy_corporate l2,policy_corporate l3,policy_personal l1,policy_personal l2,policy_personal l3,policy_special l1,policy_special l2,policy_special l3,sales_channel_branch,sales_channel_call center,sales_channel_web,vehicle_class_luxury car,vehicle_class_luxury suv,vehicle_class_sports car,vehicle_class_suv,vehicle_class_two-door car,vehicle_size_medsize,vehicle_size_small,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies
0,1.0,2,1,3,0,0,0,0,0,1,0,0,0,1,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,4809,48029,61,7,52,0,9
1,1.0,2,1,4,0,0,1,0,1,0,0,0,1,0,1,0,0,1,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,2228,92260,64,3,26,0,1
2,1.0,3,1,3,1,0,0,0,0,1,0,0,0,1,1,0,0,1,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,1,0,14947,22139,100,34,31,0,2
3,1.0,2,2,2,0,1,0,1,1,1,0,0,0,1,1,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,22332,49078,97,10,3,0,2
4,1.0,3,3,1,0,1,0,0,1,0,1,0,0,0,1,0,1,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,9025,23675,117,33,31,0,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10684,1.0,3,3,3,0,0,0,0,1,0,0,0,1,0,1,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,1,1,0,0,0,0,1,0,15563,61541,253,12,40,0,7
10685,1.0,2,1,2,0,1,0,0,1,1,0,0,0,0,0,1,1,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,5259,61146,65,7,68,0,6
10686,1.0,3,2,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,1,0,23893,39837,201,11,63,0,2
10687,1.0,2,3,1,0,0,1,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0,11971,64195,158,0,27,4,6
10688,1.0,3,1,4,0,0,0,0,1,0,0,0,1,1,1,0,0,1,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,1,0,6857,68942,101,31,1,0,3

In [20]:
# we need to add this constant value of 1 for the intercepts
model = sm.OLS(y,X_added_constant).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:     total_claim_amount   R-squared:                       0.770
Model:                            OLS   Adj. R-squared:                  0.769
Method:                 Least Squares   F-statistic:                     850.5
Date:                Tue, 20 Sep 2022   Prob (F-statistic):               0.00
Time:                        10:01:54   Log-Likelihood:                -68002.
No. Observations:               10689   AIC:                         1.361e+05
Df Residuals:                   10646   BIC:                         1.364e+05
Df Model:                          42
Covariance Type:            nonrobust
===================================================================================================
                                      coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------------
const                            -335.9119     14.257    -23.561      0.000    -363.858    -307.966
education                          -5.5425      1.286     -4.310      0.000      -8.063      -3.022
coverage                           -8.8940      3.358     -2.648      0.008     -15.477      -2.311
renew_offer_type                    2.6513      1.425      1.861      0.063      -0.142       5.444
region_east                         5.9825      5.274      1.134      0.257      -4.355      16.320
region_north west                  -1.7676      3.606     -0.490      0.624      -8.837       5.302
region_west region                  4.0097      3.442      1.165      0.244      -2.737      10.756
response_yes                      -21.7416      4.330     -5.021      0.000     -30.229     -13.254
month_jan                          -0.5621      2.731     -0.206      0.837      -5.915       4.791
employment_status_employed         -9.2132      7.050     -1.307      0.191     -23.032       4.606
employment_status_medical leave    12.8600      9.009      1.427      0.153      -4.800      30.520
employment_status_retired          -9.9208     10.565     -0.939      0.348     -30.630      10.789
employment_status_unemployed       78.8361      7.462     10.566      0.000      64.210      93.462
gender_m                           15.8253      2.746      5.763      0.000      10.443      21.208
location_code_suburban            380.7125      3.940     96.633      0.000     372.990     388.435
location_code_urban               222.4269      4.488     49.563      0.000     213.630     231.224
marital_status_married             -3.8336      4.033     -0.951      0.342     -11.738       4.071
marital_status_single              66.9023      4.647     14.398      0.000      57.794      76.011
policy_type_personal auto           1.0917      5.254      0.208      0.835      -9.208      11.391
policy_type_special auto           14.3373      7.460      1.922      0.055      -0.285      28.960
policy_corporate l2                -6.2148      8.667     -0.717      0.473     -23.204      10.775
policy_corporate l3                -0.1531      7.918     -0.019      0.985     -15.673      15.367
policy_personal l1                  4.3739      3.371      1.297      0.195      -2.235      10.983
policy_personal l2                 -1.4905      2.922     -0.510      0.610      -7.219       4.238
policy_personal l3                 -1.7916      2.650     -0.676      0.499      -6.986       3.403
policy_special l1                  38.5718     12.634      3.053      0.002      13.807      63.336
policy_special l2                 -12.3326      9.173     -1.344      0.179     -30.313       5.648
policy_special l3                 -11.9019      9.528     -1.249      0.212     -30.578       6.774
sales_channel_branch                0.8219      3.417      0.241      0.810      -5.877       7.521
sales_channel_call center           1.3969      3.824      0.365      0.715      -6.098       8.892
sales_channel_web                   3.4677      4.208      0.824      0.410      -4.781      11.717
vehicle_class_luxury car           25.3602     17.389      1.458      0.145      -8.726      59.446
vehicle_class_luxury suv          -20.0102     17.472     -1.145      0.252     -54.259      14.239
vehicle_class_sports car          -23.6050      7.831     -3.014      0.003     -38.956      -8.255
vehicle_class_suv                 -17.6996      5.874     -3.013      0.003     -29.214      -6.185
vehicle_class_two-door car         -1.2497      3.569     -0.350      0.726      -8.246       5.746
vehicle_size_medsize               -6.6550      4.527     -1.470      0.142     -15.529       2.219
vehicle_size_small                 -0.8387      5.282     -0.159      0.874     -11.192       9.514
customer_lifetime_value            -0.0001      0.000     -0.497      0.619      -0.001       0.000
income                             -0.0002   6.32e-05     -2.787      0.005      -0.000   -5.23e-05
monthly_premium_auto                5.2323      0.116     45.212      0.000       5.005       5.459
months_since_last_claim             0.3590      0.135      2.655      0.008       0.094       0.624
months_since_policy_inception      -0.0166      0.049     -0.339      0.735      -0.113       0.080
number_of_open_complaints          -2.0778      1.497     -1.388      0.165      -5.013       0.857
number_of_policies                  0.6142      0.571      1.076      0.282      -0.504       1.733
==============================================================================
Omnibus:                     4737.042   Durbin-Watson:                   1.975
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            60194.081
Skew:                           1.784   Prob(JB):                         0.00
Kurtosis:                      14.064   Cond. No.                     1.11e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.93e-19. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

# Dropping Insignificant Features

In [21]:
model.params[list(np.where(model.pvalues < 0.05)[0])].iloc[0:].index.tolist()
significant_features=X_added_constant[model.params[list(np.where(model.pvalues < 0.05)[0])].iloc[0:].index.tolist()]
significant_features

,const,education,coverage,response_yes,employment_status_unemployed,gender_m,location_code_suburban,location_code_urban,marital_status_single,policy_special l1,vehicle_class_sports car,vehicle_class_suv,income,monthly_premium_auto,months_since_last_claim
0,1.0,2,1,0,0,1,1,0,0,0,0,0,48029,61,7
1,1.0,2,1,0,1,0,1,0,1,0,0,0,92260,64,3
2,1.0,3,1,0,0,1,1,0,1,0,0,1,22139,100,34
3,1.0,2,2,1,0,1,1,0,1,0,0,0,49078,97,10
4,1.0,3,3,0,0,0,1,0,0,0,0,0,23675,117,33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10684,1.0,3,3,0,1,0,1,0,0,0,0,0,61541,253,12
10685,1.0,2,1,0,0,0,0,1,0,0,0,0,61146,65,7
10686,1.0,3,2,0,0,0,0,0,0,0,0,0,39837,201,11
10687,1.0,2,3,0,0,0,0,1,0,0,0,1,64195,158,0
10688,1.0,3,1,0,1,1,1,0,1,0,0,1,68942,101,31

In [22]:
non_significant_features = X_added_constant[model.params[list(np.where(model.pvalues > 0.05)[0])].iloc[0:].index.tolist()]
non_significant_features

,renew_offer_type,region_east,region_north west,region_west region,month_jan,employment_status_employed,employment_status_medical leave,employment_status_retired,marital_status_married,policy_type_personal auto,policy_type_special auto,policy_corporate l2,policy_corporate l3,policy_personal l1,policy_personal l2,policy_personal l3,policy_special l2,policy_special l3,sales_channel_branch,sales_channel_call center,sales_channel_web,vehicle_class_luxury car,vehicle_class_luxury suv,vehicle_class_two-door car,vehicle_size_medsize,vehicle_size_small,customer_lifetime_value,months_since_policy_inception,number_of_open_complaints,number_of_policies
0,3,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,4809,52,0,9
1,4,0,0,1,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,2228,26,0,1
2,3,1,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,14947,31,0,2
3,2,0,1,0,1,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,22332,3,0,2
4,1,0,1,0,1,0,1,0,1,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,9025,31,0,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10684,3,0,0,0,1,0,0,0,1,1,0,0,0,1,0,0,0,0,0,0,1,1,0,0,1,0,15563,40,0,7
10685,2,0,1,0,1,1,0,0,1,1,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,5259,68,0,6
10686,1,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0,1,0,23893,63,0,2
10687,1,0,0,1,0,1,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,11971,27,4,6
10688,4,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,6857,1,0,3

In [23]:
X_added_constant = X_added_constant.drop(non_significant_features, axis=1)
model = sm.OLS(y,X_added_constant).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:     total_claim_amount   R-squared:                       0.770
Model:                            OLS   Adj. R-squared:                  0.769
Method:                 Least Squares   F-statistic:                     2545.
Date:                Tue, 20 Sep 2022   Prob (F-statistic):               0.00
Time:                        10:01:54   Log-Likelihood:                -68022.
No. Observations:               10689   AIC:                         1.361e+05
Df Residuals:                   10674   BIC:                         1.362e+05
Df Model:                          14
Covariance Type:            nonrobust
================================================================================================
                                   coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------------
const                         -340.9899      7.330    -46.517      0.000    -355.359    -326.621
education                       -5.5700      1.283     -4.342      0.000      -8.084      -3.056
coverage                        -9.5708      2.411     -3.970      0.000     -14.296      -4.845
response_yes                   -23.8316      4.132     -5.768      0.000     -31.930     -15.733
employment_status_unemployed    85.3224      3.642     23.425      0.000      78.183      92.462
gender_m                        15.8804      2.734      5.809      0.000      10.522      21.239
location_code_suburban         383.1316      3.847     99.584      0.000     375.590     390.673
location_code_urban            222.3584      4.485     49.574      0.000     213.566     231.151
marital_status_single           69.2871      3.367     20.579      0.000      62.687      75.887
policy_special l1               53.1252     15.984      3.324      0.001      21.793      84.457
vehicle_class_sports car       -24.6573      6.376     -3.867      0.000     -37.156     -12.159
vehicle_class_suv              -18.5317      3.862     -4.798      0.000     -26.103     -10.961
income                          -0.0002   5.73e-05     -4.019      0.000      -0.000      -0.000
monthly_premium_auto             5.2295      0.051    102.683      0.000       5.130       5.329
months_since_last_claim          0.3540      0.135      2.621      0.009       0.089       0.619
==============================================================================
Omnibus:                     4735.735   Durbin-Watson:                   1.976
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            59294.941
Skew:                           1.789   Prob(JB):                         0.00
Kurtosis:                      13.970   Cond. No.                     6.75e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 6.75e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [24]:
X = X_added_constant

In [25]:
models()

LinearRegression: Train -> 0.7636582147344952, Test -> 0.7833347328344474
Lasso: Train -> 0.763651582930492, Test -> 0.7832740834590275
Ridge: Train -> 0.5154803085877779, Test -> 0.5259411724632688
ElasticNet: Train -> 0.7376559625565404, Test -> 0.7574001535599336